@model IEnumerable<AzureKeyVaultManager.Web.Models.KeyVaultKey>

@{
    ViewBag.Title = "Keys";
}

<h3>Keys</h3>
<h4>Vault : @Session["vaulturl"].ToString().ToLower() has @Model.Count() of key(s).</h4>

<table class="table">
    <tr>
        <th>
           
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpiresOn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpiresOn)
        </td>
        <td>
        </td>
    </tr>
}

</table>



<div>
    @Html.ActionLink("Back to Menu", "Menu")
</div>