@model IEnumerable<AzureKeyVaultManager.Web.Models.KeyVaultKey>

@{
    ViewBag.Title = "Keys";
}

<h3>Keys</h3>
<h4>Vault : @Session["vaulturl"].ToString().ToLower() has @Model.Count() of key(s).</h4>

<table class="table">
    <tr>
        <th>
           
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpiresOn)
        </th>
        <th></th>
    </tr>

@for (int i = 0; i < Model.Count(); i++){
    <tr>
        <td>
           @(i + 1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.ElementAt(i).Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.ElementAt(i).CreatedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.ElementAt(i).ExpiresOn)
        </td>
        <td>
        </td>
    </tr>
}

</table>



<div>
    @Html.ActionLink("Back to Menu", "Menu")
</div>