@model IEnumerable<AzureKeyVaultManager.Web.Models.KeyVaultSecret>

@{
    ViewBag.Title = "Secrets";
}

<h3>Secrets</h3>
<h4>Vault : @Session["vaulturl"].ToString().ToLower() has @Model.Count() of secret(s).</h4>

<p>
    @Html.ActionLink("Create New", "CreateSecret")
</p>

<p>
    Details : List all the versions of the secret.
    Delete : <strong> Will delete the secret and all its versions.</strong>
</p>

<table class="table">
    <tr>
        <th>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecretName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpiresOn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecretName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpiresOn)
        </td>
        <td>
            @Html.ActionLink("Details", "SecretDetails", new { secretName = item.SecretName }) |
            @Html.ActionLink("Delete", "DeleteSecret", new { secretName = item.SecretName })
        </td>
    </tr>
}

</table>


<div>
    @Html.ActionLink("Back to Menu", "Menu")
</div>