@model IEnumerable<AzureKeyVaultManager.Web.Models.KeyVaultSecret>

@{
    ViewBag.Title = "Secrets";
}

<h3>Secrets</h3>
<h4>Vault : @Session["vaulturl"].ToString().ToLower() has @Model.Count() secret(s).</h4>

<p>
    @Html.ActionLink("Create New", "CreateSecret")
</p>

<p>
    Details : List all the versions of the secret.
    Delete : <strong> Will delete the secret and all its versions.</strong>
</p>

<table class="table">
    <tr>
        <th>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpiresOn)
        </th>
        <th></th>
    </tr>


@for(int i = 0; i < Model.Count(); i++) {
    <tr>
        <td>
            @(i + 1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.ElementAt(i).Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.ElementAt(i).CreatedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.ElementAt(i).ExpiresOn)
        </td>
        <td>
            @Html.ActionLink("Details", "SecretDetails", new { secretName = Model.ElementAt(i).Name }) |
            @Html.ActionLink("Delete", "DeleteSecret", new { secretName = Model.ElementAt(i).Name })
        </td>
    </tr>
}

</table>


<div>
    @Html.ActionLink("Back to Menu", "Menu")
</div>