@model IEnumerable<AzureKeyVaultManager.Web.Models.KeyVaultSecret>

@{
    ViewBag.Title = "SecretDetails";
}

<h3>Details</h3>
<br/>
<h4>@Model.First().SecretName has @Model.Count() version(s)</h4>

<table class="table">
    <tr>
        <th>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Version)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpiresOn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Version)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpiresOn)
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Back to List", "Secrets")
</div>